<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{/layout :: header}">
</div>
<div>
    <button style="text-align: center" class="btn btn-success"><a th:href="@{/product}">Back to list product</a></button>
</div>
<p th:text="${messDelete}"></p>


<form th:action="@{/product/delete}" th:object="${product}" th:method="post">
    <table>
        <tr>
            <td><label  th:for="id">ID</label> </td>
            <td><label>
                <input th:field="*{id}" th:value="*{id}" >
            </label></td>
        </tr>
        <tr>
            <td>
                <lable th:for="name">Name</lable>
            </td>
            <td><label>
                <input th:field="*{name}" th:value="*{name}" />
            </label></td>
        </tr>
        <tr>
            <td> <lable th:for="price">Price</lable></td>
            <td> <label>
                <input th:field="*{price}" th:value="*{price}" />
            </label></td>
        </tr>
        <tr>
            <td><lable th:for="description">Description</lable></td>
            <td><label>
                <input th:field="*{description}" th:value="*{description}" />
            </label></td>
        </tr>
        <tr>
            <td> <lable th:for="producer">Producer</lable></td>
            <td><label>
                <input th:field="*{producer}" th:value="*{producer}" />
            </label></td>
        </tr>
    </table>
    <input type="submit" value="Delete">
<!--    <button type="button" onclick="idRemove()"-->
<!--            class="btn btn-danger" data-bs-toggle="modal"-->
<!--            data-bs-target="#exampleRemove">-->
<!--        Delete-->
<!--    </button>-->

</form>
// modal delete
<!--<div class="modal fade" id="exampleRemove" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                        aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                Are you sure to delete this product ?-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel-->
<!--                </button>-->
<!--                <form action="/product/delete" method="post">-->
<!--                    <input type="hidden" name="id" id="idInput">-->
<!--                    <button class="btn btn-primary" type="submit">Delete</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script>-->
<!--    function idRemove(id, name) {-->
<!--        document.getElementById("idInput").value = id;-->
<!--    }-->
<!--</script>-->
<div th:insert="~{/layout :: footer}"></div>
</body>
</html>