<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<button type="button" class="btn btn-primary
                    col-sm-1 ms-auto mb-4"
        data-bs-toggle="modal"
        data-bs-target="#modalAdd">Add new
</button>

<table class="table table-dark">
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Artist Name</th>
        <th>Category</th>
        <th>Edit</th>
    </tr>
    <th:block th:each="music, stt : ${musicPage}">
        <tr>
            <td th:text="${stt.count}"></td>
            <td th:text="${music.name}"></td>
            <td th:text="${music.artistName}"></td>
            <td th:text="${music.category}"></td>
            <td>
                <button class="btn btn-warning"><a th:href="@{/music/edit/__${music.id}__ }">Edit</a></button>
            </td>
        </tr>
    </th:block>
</table>
    <div class="modal fade" id="modalAdd" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Add new Music</h1>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/music/save}" th:method="post" th:object="${musicDto}">
                    <div class="modal-body">
                        <div class="container">
                            <div class="mb-3">
                                <div class="d-flex gap-3">
                                    <label th:for="id">ID</label>
                                    <label>
                                        <input th:field="*{id}" th:readonly="readonly">
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3 ">
                                <div class="d-flex gap-3">
                                    <label>Name:</label>
                                    <label><input th:field="*{name}"></label>
                                    <p th:if="${#fields.hasErrors('name')&&mess==1}" th:errors="*{name}">Name Error</p></div>
                            </div>
                            <div class="mb-3 ">
                                <div class="d-flex gap-3">
                                    <label>Artist Name:</label>
                                    <label><input th:field="*{artistName}"></label>
                                    <p th:if="${#fields.hasErrors('artistName')&&mess==1}" th:errors="*{artistName}">Name
                                        Error</p>
                                </div>
                            </div>
                            <div class="mb-3 ">
                                <div class="d-flex gap-3">
                                    <label>Category:</label>
                                    <label><input th:field="*{category}"></label>
                                    <p th:if="${#fields.hasErrors('category')&&mess==1}" th:errors="*{category}">Name Error</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<input th:hidden="hidden" id="mess" th:value="${mess}"/>
<script src="/jquery-3.6.1.min.js"></script>
<script>
    // Sửa được rồi nhé
    $(document).ready(function () {
        if ($("#mess").val() == 1) {
            $('#modalAdd').modal('show');
        }
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>